{% extends 'base.html.twig' %}

{% block title %}Hello HttpFoundationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  Request✅</h1>

    <ul>
        <li>PathInfo <code>{{ pathInfo }}</code></li>
        <li>Method <code> {{ method }}</code></li>
        <li>Host <code> {{ host }}</code></li>
        <li>Content Type <code>{{ contenttype }}</code></li>
    </ul>
</div>
{% endblock %}
